<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <a href="/" data-link>Home</a>
      <a href="/contact" data-link>Contact</a>
      <a href="/post/post-title?param=hodnota" data-link>Post</a>
    </header>
    <div id="app"><%- body %></div>
  </body>
</html>
