<%- include('./partials/header.ejs') %>

<main>
  <h1>Contact</h1>
  <ul>
    <li class="someClass">Kontakt 1</li>
    <li class="someClass">Kontakt 2</li>
    <li class="someClass">Kontakt 3</li>
  </ul>
</main>
